 <!-- [formGroup]="form"
(ngSubmit)="onSubmit(form.value)" -->
<section class = "flex-column justify-content-center p-3 border border-danger border-thick text-center">
    <button (click) = "goHome()" class = "btn btn-outline-danger align-self-center"> 
        Nevermind, it wasn't a pig (go back to main screen)
    </button>
</section>

<form id = "pig-info-form" name="pig-info-form" class = "flex-even m-3 text-center" (change) = "validateForm()">
    <h3 class = "text-bg-danger text-dark p-1"> 🐖Pig Report Form </h3>
    <p> 🐖 Can I submit: {{submitStatus}} </p>
    <small> Will update when you you are not focused on an input </small>
    <!-- box around the entire form-->
    <section class = "p-5 border border-danger border-thick">
        <!-- Reporting Person Details Section-->
        <h6 class = "text-bg-danger p-1"> Section 1: Reporting Person Details </h6>
        <section class = "form-group p-3">
            <label for="person-name" class = "m-2">Name*</label>
            <input placeholder="Bob" type="text" class="form-control" name="person-name" id="person-name" required>
        </section>
        <section class = "form-group p-3">
            <label for="person-number" class = "m-2">Phone Number*</label>
            <!-- Validated on submission -->
            <input placeholder="778-782-6930" type="tel" class="form-control" name="person-number" id="person-number" required>
            <small>Format (example number): 778-782-6930</small><br>
            <small>You will not be able to submit if it does not follow the above format. You have been warned.🐖</small><br>
        </section>

        <!-- Pig Info Details Section-->
        <h6 class = "text-bg-danger p-1"> Section 2: Pig Details </h6>
        <section class = "form-group p-3">
            <label for="pig-breed" class = "m-2"> Breed* </label><br>
            <select name="pig-breed" id="pig-breed"> 
                <option selected="selected" value="oshawott">oshawott</option>
                <option value="tepig">tepig</option>
                <option value="snivy">snivy</option>
                <option value="uknown">unknown</option>
            </select>
        </section>
        <section class = "form-group p-3">
            <label for="pID" class = "m-2">pig ID (pID)*</label>
            <input (keydown)="preventNegatives($event)" placeholder="1" type="number" class="form-control" name="pID" id="pID" min = "0"required>
            <small> Negative IDs not supported. Repeat IDs are allowed though. 🐖 </small><br>
        </section>

        <!-- Location Info Details Section-->
        <h6 class = "text-bg-danger p-1"> Section 3: Location </h6>
        <section class = "form-group p-3">

            <button (click) = "toggleAddOwnLocation($event)" id = "toggle-own-location" class = "btn btn-outline-danger align-self-center">Add existing location</button> 
            <br>
            <section id = "select-existing-locations-section">
                <label for="location-options" class = "m-2"> Select from existing locations </label><br>
                <select name="location-options" id="location-options"> 
                    <!-- load the location options here. If an option is selected its location and coordinates populate the input -->
                    <option selected = "selected" value = "none"> None </option>
                </select><br>
            </section>
            <small id = "location-hint"> 🐖 Add your own locations below </small><br>
            
            <label for="location" class = "m-2">Location*</label>
            <input type="text" class="form-control" name="location" id="location" required>
        </section>

        <section class = "form-group p-3">
            <label for="longitude" class = "m-2">Longitude*</label>
            <input type="number" class="form-control" name="longitude" id="longitude" required>
        </section>
        <section class = "form-group p-3">
            <label for="latitude" class = "m-2">Latitude*</label>
            <input type="number" class="form-control" name="latitude" id="latitude" required>
        </section>

        <!-- Time Reported Details Section-->
        <h6 class = "text-bg-danger p-1"> Section 4: Report Time </h6>
        <section class = "form-group p-3">
            <label for="date" class = "m-2">Date</label>
            <input type="text" class="form-control" name="date" id="date" disabled>
        </section>
        <section class = "form-group p-3">
            <label for="time" class = "m-2">Time</label>
            <input type="text" class="form-control" name="time" id="time" disabled>
        </section>

        <!-- Extra Notes Section-->
        <h6 class = "text-bg-danger p-1">Section 5 (Optional): Extra Notes </h6>
        <section class = "form-group p-3">
            <label for="extra-notes" class = "m-2">Notes</label>
            <textarea  placeholder = "This pig was eating another pig (true story)😲..." class="form-control" rows="4" cols="50" name="extra-notes" id="extra-notes"></textarea>
        </section>

        <!-- submit button -->
        <button type="button" (click)="onClickFormSubmit()" class="btn btn-outline-danger" id = "submit" disabled >Submit</button>

    </section>

</form>
