<table id class="pig-table table table-bordered table-danger">
    <thead>
        <tr>
            <th scope="col" class = "text-bg-danger">Row #</th>
            <th scope="col" class = "text-bg-danger">Location</th>
            <th scope="col" class = "text-bg-danger">Reported By</th>
            <th scope="col" class = "text-bg-danger">Time Reported</th>
            <th scope="col" class = "text-bg-danger">Status</th>
        </tr>
    </thead>
    <tbody id = "table-data ">
        
        <tr *ngFor="let pig of pigs; let i = index">
            <td>{{i}}</td>
            <td>{{pig.location}}</td>
            <td>{{pig.personName}}</td>
            <td>{{pig.dateReported}} ({{pig.timeReported}})</td>
            <td> READY FOR PICKUP</td>
        </tr> 
    </tbody>
</table>

<!-- 
<button (click)="getPigs()"> </button>
<div id = "display-pigs-here"></div>
-->